*{
    margin: 0px;
    padding: 0px;
}

/* .invoice{
    background-color: beige;
} */
body{
   
    width: 70vh;
    /* border: 2px solid black; */
    padding: 20px;
}

.sec{
    background-color: beige;
}
h1{
    font-size: 100px;
    font-weight: 600;
    color:rgb(107, 24, 24);
}
.row{
    display: grid;
    grid-template-columns: 120px 20px 1fr;
    margin-bottom: 10px;
    align-items: start;
    margin: 30px;
}
.label{
    font-size: 18px;
    font-weight: bold;
    color: rgb(107, 24, 24);
}

.colon{
    text-align: center;
}

.value{
    color: rgb(100, 20, 20);
}
.description table{
   border-top: 2px solid black;
   border-bottom:2px solid black;
    height: 30vh;
    width: 90%;
    margin: 30px;
    color: rgb(107, 24, 24);
}
td{
    border-top: 2px solid black;
     
}

.lower-part{
    display: flex;
    align-items:start;
    justify-content: space-around;
    padding-top: 50px;
    color: rgb(107, 24, 24);
    /* border: 2px solid black; */
}
.left{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}